/**
 * partials/header
 * ---
 */


// Header container
.header {
	padding: 15px 2.5%;
	@include clearfix;
	height: 115px;
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
	@include transition(background-color 1.0s $ease-in-sine);
	.logo {
		@include span-columns(8);
		padding-top: 20px;
		img {
			width: 100%;
			max-width: 275px;
		}
		@include media(769px){
			@include span-columns(4);	
		}
	}
	.nav-mobile-button-wrap {
		text-align: right;
		@include span-columns(4);
		@include omega;
		.nav-mobile-show {
			position: relative;
			top: 40px;
		}
		@include media(769px){
			display: none;
		}
	}
}

.hamburger {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0);
  border: 2px solid $hotpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.line {
  width: 50%;
  height: 2px;
  background: $hotpink;
  align-self: center;
  margin: 3px 0;
  transition: all 0.3s cubic-bezier(0.8, 0.2, 0.7, 1.3), width 0.2s 0.1s cubic-bezier(0.7, 0.2, 0.7, 1.4);
}

.hamburger.clicked .line {
  margin: -1px 0;
  width: 45% !important;
}

.hamburger.clicked .first,
.hamburger.clicked .third {
  background: #C44D58;
  width: 60%;
}

.hamburger.clicked .first {
  transform: rotate(45deg);
}

.hamburger.clicked .second {
  width: 0 !important;
}

.hamburger.clicked .thirdl {
  transform: rotate(-45deg);
}

// mobile menu overlay
.nav-mobile {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba($hotpink, 0.9);
	text-align: center;
	ul, button {
		margin-top: 20vh;
		li {
			margin-bottom: 1em;
		}
		a {
			color: white;
			text-transform: uppercase;
			font-size: 200%;
			font-weight: 500;
		}
	}
	.hamburger {
		top: 10%;
		left: 50%;
		border-color: white;
		.line {
			background-color: white;
		}
	}
}

.nav-desktop {
	display: none;
	@include media(769px){
		display: block;
		@include span-columns(8);
		@include omega;
		padding-top: 35px;
		text-align: right;
		li {
			display: inline-block;
			text-transform: uppercase;
			margin-left: 2vw;
			a {
				&:hover {
					color: $hotpink;
					text-decoration: none;
				}
			}
		}
	}

}
